li button {
    display: flex;
    width: 60vw;
}

li button p:first-of-type {
    width: 30vw;

}

li button p:nth-of-type(2) {
    width: 15vw;
}

li button p:nth-of-type(2) {
    width: 15vw;
}

li button p {
    text-align: left;
}

li {
    list-style: none;
}

a {
    background-color: black;
    color: white;
    padding: 0.2em 0.5em 0.4em 0.5em;
    border-radius: 0.3em;
    text-decoration: none;
    margin-right: 1em;


}

form {
    margin-bottom: 25px;
}

body {
    background-color: #FFDB62;
}

#letterUI h3 {
    margin: 10px 0 1px 0;
    font-size: 1em;

}

#letterUI p {
    margin: 0;
}

#letterUI {
    margin-top: 40px;
    background-color: white;
    padding: 25px;
    border-radius: 1%;
}

.container {
    display: flex;
}

.homepageBlock {
    background-color: white;
    display: block;
}

.popup {
    background-color: white;
    padding: 15px;
}

.popupI {
    background-color: rgba(250, 250, 250, 0);
    border: none;
}

.fontIcon {
    color: white;
}

.popupClose {
    background-color: rgba(250, 250, 250, 0);
    border: none;
}

.sectionWaarom {
    width: 100%;
    display: block;
    background-color: white;
    padding: 25px;
}

.sectionBlock {
    display: flex;
}